.comments-list {
  scrollbar-color: #525252 transparent;
  scrollbar-width: thin;
}

.comments-list::-webkit-scrollbar {
  width: 6px;
}

.comments-list::-webkit-scrollbar-track {
  background: transparent;
}

.comments-list::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #525252;
}
